<!DOCTYPE html>
<html lang="en-us" >

{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static "kitchen/style.css" %}" />
</head>

<body class="dashboard">
	<div id="content-main">
	<div class="module">

	<a href="../../admin/task/task">task admin</a>
	<a href="../../admin/task/task/add">task admin add task</a>

	<table style="border:1px solid black">
		<tr>
			<th>Title</th>
			<th>SP</th>
			<th>SA</th>
			<th>EP</th>
			<th>EA</th>
			<th>DP</th>
			<th>DA</th>
		</tr>
		{% for task, sp, sa, ep, ea, dp, da in tasks %}
		<tr>
			<td>{{ task.title }}</td>
			<td>{{ sp }}</td>
			<td>{{ sa }}</td>
			<td>{{ ep }}</td>
			<td>{{ ea }}</td>
			<td>{{ dp }}</td>
			<td>{{ da }}</td>
		
			<td>
				<form action="{% url 'task:start_now' task.id %}" method="post">
					{% csrf_token %}
					<input type="submit" value="START"/>
				</form>
			</td>
			<td>
				<form action="{% url 'task:end_now' task.id %}" method="post">
					{% csrf_token %}
					<input type="submit" value="END"/>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	</div>

	<div>
		<table>
			<tr>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
				<td>Saturday</td>
				<td>Sunday</td>
			</tr>
			{% for w in cal %}
			<tr>
				{% for d in w %}
				<td>{{ d }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
</body>

</html>
