{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "kitchen/style.css" %}"/>
		<style>
			div.left {
				float: left;
				width: 200px;
			}
			div.center {
				margin-left: 200px;
			}
			form {
				margin: 0px;
			}
			{% block style %}
			{% endblock %}
		</style>
	</head>
	<body>
		<div class="left">
			<a href="{% url 'admin:index' %}">admin</a><br>
			<a href="{% url 'kitchen:index' %}">home</a><br>
			<h3>Tools</h3>
			<a href="{% url 'kitchen:shoppinglist' %}">shoppinglist</a><br>
			<h3>Recipes</h3>
			<a href="{% url 'kitchen:recipe_list' %}">list</a><br>
			<h3>Recipe Orders</h3>
			<a href="{% url 'kitchen:recipeorder_list' %}">list</a><br>

		</div>
		<div class="center">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

