{% extends 'task/base.html' %}

{% block content %}
<table>
<form action="/your-name/" method="post">
	{% csrf_token %}

	<tr>
		<th><label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label></th>
		<td>{{ form.title }}</td>
		{% if form.title.errors %}
		<td>{{ form.title.errors }}<td>
		{% endif %}
	</tr>
	<tr>
		<th><label for="{{ form.date_sp.id_for_label }}">{{ form.date_sp.label }}:</label></th>
		<td>{{ form.date_sp }}</td>
		{% if form.date_sp.errors %}
		<td>{{ form.date_sp.errors }}<td>
		{% endif %}
	</tr>
	<tr>
		<th><label for="{{ form.date_sa.id_for_label }}">{{ form.date_sa.label }}:</label></th>
		<td>{{ form.date_sa }}</td>
		{% if form.date_sa.errors %}
		<td>{{ form.date_sa.errors }}<td>
		{% endif %}
	</tr>
	<tr>
		<th><label for="{{ form.date_ep.id_for_label }}">{{ form.date_ep.label }}:</label></th>
		<td>{{ form.date_ep }}</td>
		{% if form.date_ep.errors %}
		<td>{{ form.date_ep.errors }}<td>
		{% endif %}
	</tr>
	<tr>
		<th><label for="{{ form.date_ea.id_for_label }}">{{ form.date_ea.label }}:</label></th>
		<td>{{ form.date_ea }}</td>
		{% if form.date_ea.errors %}
		<td>{{ form.date_ea.errors }}<td>
		{% endif %}
	</tr>
	<tr>
		<th><label for="{{ form.repeat.id_for_label }}">{{ form.repeat.label }}:</label></th>
		<td>{{ form.repeat }}</td>
		{% if form.repeat.errors %}
		<td>{{ form.repeat.errors }}<td>
		{% endif %}
	</tr>
	<tr class="repeat">
		<th><label for="{{ form.repeat_mon.id_for_label }}">{{ form.repeat_mon.label }}:</label></th>
		<td>{{ form.repeat_mon }}</td>
		{% if form.repeat_mon.errors %}
		<td>{{ form.repeat_mon.errors }}<td>
		{% endif %}
	</tr>

	<tr><td><input type="submit" value="Submit" /></td></tr>
</form>    
</table>
{% endblock %}

{% block script_head %}

function check_repeat() {
	alert("repeat");
	if ($("#id_repeat").is(":checked")) {
		$(".repeat").css('display', 'inline');
	} else {
		$(".repeat").css('display', 'none');
	}
}

$("#id_repeat").change(function() {
	alert("change");
	//check_repeat();
});

$(check_repeat);


{% endblock %}



