
body {
	font-family: arial;
}

table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
td, th {
	padding: 2px;
}

.produce { background-color: #00ff00; }
.cheese  { background-color: #ffff00; }
.meat    { background-color: #ff0000; }
.baking  { background-color: #0000ff; }
.bulk    { background-color: #ff00ff; }
.unknown { background-color: #888888; }


