{% load staticfiles %}

<html>
<head>
	<style>
		.leftbar {
			float: left;
			width: 200px;
		}
		.main {
			margin-left: 200px;
		}
	</style>
{% block head %}
{% endblock %}
</head>
<body>
	<div class="header">
		username:{{ user.email }}
		<form action="{% url 'jobdata:logout' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="redirect" value="{{ redirect }}">
			<input type="hidden" name="redirect_url" value="{{ redirect_url }}">
			<input type="submit" value="logout">
		</form>
	</div>
	<div class="leftbar">
		<a href="{% url 'jobdata:json_editor' %}">json editor</a><br>
		<a href="{% url 'jobdata:resume_render' %}">resume render</a>
	</div>
	<div class="main">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>

