{% extends 'jobdata/base.html' %}

{% block content %}

<table>
	{% for d in documents %}
	<tr>
		<td>
			{% if d.position %}
				<a href="{% url "jobdata:company_view" d.position.company.id %}">
					{{ d.position.company.name }}
				</a>
			{% else %}
				no company
			{% endif %}
		</td>
		<td>
			{% if d.position %}
			{{ d.position.name }}
			{% else %}
			no position
			{% endif %}
		</td>
		<td>{{ d.template.path }}</td>
		<td>
			<a href="{% url "jobdata:document_render" d.id %}">
				render
			</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}



