{% extends 'jobdata/base.html' %}

{% block style %}
table, tr, td {
	border: solid black 1px;
	border-collapse: collapse;
}
table.json td {
	padding: 0px;
}
table.json th {
	min-width: 100px;
	vertical-align: top;
}
{% endblock %}

{% block content %}

company: {{ document.position.company }}<br>
position: {{ document.position }}<br>

<table>
	<form action="{% url 'jobdata:document_render' document.id %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="hidden" name="redirect"     value="{{ redirect }}">
		<input type="hidden" name="redirect_url" value="{{ redirect_url }}">
		<tr><td><input type="submit" value="render"></td></tr>

		<tr>
			<td/>
			<td>
				{% autoescape off %}
				{{ json_html }}
				{% endautoescape %}
			</td>
		</tr>


	</form>
</table>


{% autoescape off %}
{{ html }}
{% endautoescape %}

{% endblock %}

