{% extends 'jobdata/base.html' %}
{% load staticfiles %}

{% block head %}
	<!-- when using the mode "code", it's important to specify charset utf-8 -->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">	
	<link href="/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
	<script src="/jsoneditor/dist/jsoneditor.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{% static "jobdata/script.js" %}"></script>
{% endblock %}

{% block content %}

	<table>
		<form action="{% url 'jobdata:json_render' %}" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="hidden" name="redirect"     value="{{ redirect }}">
			<input type="hidden" name="redirect_url" value="{{ redirect_url }}">
			<tr><td><input type="submit" value="render"></td></tr>
		</form>
	</table>

	<div id="jsoneditor" style="width: 1200px; height: 800px;"></div>

	<script>
	// create the editor
	var container = document.getElementById("jsoneditor");
	var editor = new JSONEditor(container);
	
	// set json
	var json = {% autoescape off %}{{ json }}{% endautoescape %};
	editor.set(json);

	</script>

{% endblock %}



