<html>
<head>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<table>
	<form action="{% url 'climb:climb_create' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
	</form>
</table>
</body>

<script>
	$("#id_location").change(function(){
		$("form").submit();
	});
	$("#id_area").change(function(){
		$("form").submit();
	});
	$("#id_wall").change(function(){
		$("form").submit();
	});
	$("#id_route").change(function(){
		$("form").submit();
	});
</script>
</html>
